# Testing directories
.hypothesis
.pytest_cache

# Virtual Environment
.venv

# Compiled Python byte code
*.pyc

# Cached files
**/__pycache__/*

# pip/egg files
**/*.egg-info

# Benchmarking
benchmarks